body {
	background-color: rgb(183, 183, 183);
}

.main_container {
	border: none;
	padding: 20px;
	max-width: 350px;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	box-shadow: 2px 3px 5px hsla(0, 0%, 6%, 0.67);
}

.main_heder {
	text-transform: capitalize;
	font-family: monospace;
	padding: 4px;
	text-shadow: 1px 2px 3px rgba(69, 39, 98, 0.488);
}

.main_heder img {
	width: 25px;
	height: 25px;
	margin: 0;
	vertical-align: baseline;
	vertical-align: sub;
}

.the_input {
	padding: 5px;
	border: 1px solid rgb(210, 210, 210);
	border-radius: 5px;
	margin-right: 5px;
	background-color: aliceblue;
}

.my_button {
	background-color: aquamarine;
	border-radius: 10px;
	border: none;
	padding: 5px 7px;
}

.list_items {
	list-style-type: none;
	text-align: start;
	margin-left: 0;
	line-height: 17px;
	font-size: 15px;
	font-family: monospace;
}

.list_items li {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.list_items li span {
	border: 1px solid rgba(164, 163, 163, 0.564);
	padding: 0 4px;
	border-radius: 50%;
	margin-left: auto;
}

.list_items li::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: aliceblue;
	border: 1px solid rgb(185, 185, 185);
	margin-right: 8px;
}

.list_items li.checked::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-image: url("./assets/complete.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 8px;
}

.list_items li.checked {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	text-decoration: line-through;
}
